<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>

        {% include navigation.html %}        

        <h1>THIS IS MY TITLE: JOE YLAGAN</h1>
        <p>Testing browser sync</p>
        <p>Why is it not rebuilding/serving?</p>
        {{ content }}

        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.js"></script>
        <script src="js/app.js"></script>
    </body>

</html>
